:root {
    --main-bg-color: #f4f6ff;
    --main-accent: #ea907a;
    --secondary-accent: #ffcb74;
    --tertiary-accent: #4f8a8b;
  }

html {
    background-color: var(--main-bg-color);
}

/* Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-accent);
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: var(--main-bg-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.menutext a:hover {  /* Change the link color on hover */
    background-color: var(--main-bg-color);
    color: var(--main-accent);
  } 

li img {
    width: 40px;
  }

.card{
  border-radius: 5px;
  width: 250px;
  border: 1px solid #a3a3a3;
  text-align:center;
}

.card:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: 0.3s;
  border-radius: 5px;
}

.container{
  padding: 2px 16 px;
}

#swapPic {
  border-radius: 5x 5px 0 0;
  border-bottom:1px solid #a3a3a3;
}